.checkbox-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}
.checkbox-container input {
  display: none;
}
.checkbox-container .checkmark {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #eeeeee;
  border-radius: 2px;
  margin-right: 2px;
  transition: 0.3s;
}

.checkbox-container:hover .checkmark {
  background-color: #cccccc;
}
.checkbox-container input:checked + .checkmark {
  background-color: #094545;
  content: "&#10003;";
  color: white;
  transition: 0.3s;
}
.checkbox-container input:checked + .checkmark::after {
  content: "\2714";
  color: white;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.filter-comp {
  border: 1px solid;
  background-color: white;
  border-color: #bcb6b6;
  margin-top: 10px;
  margin-bottom: 1vh;
}
.filter-comp h3 {
  margin-bottom: auto;
  margin-left: 5px;
  color: #094545;
  margin-top: auto;
  height: 30px;
  display: flex;
  align-items: center;
}
.filter-comp ul {
  margin-bottom: 0;
  display: flex;
  flex-flow: column;
  padding-left: 4px;
  font-size: 13px;
  text-decoration: none;
}
.filter-items-box {
  max-height: 238px;
  width: auto;
  overflow: auto;
}
